.btn {
    border: 2.5px solid #070707;
    padding: 10px 15px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 19px;
    gap: 10px;
// width: 123px;
    height: 42px;
    color: #070707;
    border-radius: 30px;
&:hover {
    cursor: pointer;
    background-color: #070707;
    color: #FFFFFF;
    transition: 0.4s;
}
&:active {
    opacity: 0.5;
}
&:disabled {
    background-color: transparent;
    border: 2.5px solid #E5E5E5;
    color: #E5E5E5;
}
}