.container {
    max-width: 1000px;
    margin: 0 auto;
  
    @media (max-width: $media-desktop) {
      margin: 0 60px;
      max-width: 1000px;
    }
    @media (max-width: $media-tablet) {
      margin: 0 60px;
      max-width: 648px;
      max-width: 100%;
    }
    @media (max-width: $media-mobile) {
      margin: 0 20px;
      max-width: 280px;
      max-width: 100%;
    }
  }