.input-text {
    border: 2.5px solid #E5E5E5;
    height: 50px;
    min-width: 290px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #070707;

}