.blog {
    max-width: 100%;
    &__header {
        margin-top: 40px;
    }

}
.filter {
    display: flex;
    align-items: baseline;
    margin-top: 40px;
&__wrap {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    max-width: 80px;
    margin: 0 0;
}

&__search {
    display: flex;
    flex-direction: row;
}
&__radio {
    width: 25px;
}
}