.skills {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    &__text {
        margin-top: 20px;
        margin-bottom: 50px;

    }
    &__list {
        display: flex;
        flex-direction: row;
        @media (max-width: $media-tablet) {
            max-width: max-content;
            display: inline;
          }
          @media (max-width: $media-tablet-landscape) {
            display: inline;
          }
         
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    &__percent {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: #828282;
        padding-right: 12px;
    }
    &__level {
        display: flex;
        align-items: center;
        border: none;
    }
    &__range {
        width: 142px;
        height: 9px;
        border: 0%;
        color: black;
        pointer-events: none;

    }
    &__range[type="range"]::-webkit-slider-runnable-track {
        background-color: #E5E5E5;
    }
    &__range[type="range"]::-webkit-slider-thumb {
        opacity: 0;
        cursor: pointer;
    }
}