*, *:after, *:before {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  font-family: 'Gilroy', serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #1E0606;
  }
a {
  list-style: none;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0 0;
}
img {
  display: block;
  max-width: 100%;
}
h2 {
  font-size: 34px;
}
.flex-wrapper {
  display: flex;
}