@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/

@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/popup";
@import "_blocks/link-btn";
@import "_blocks/pagination";
@import "_blocks/breadcrumbs";
@import "_blocks/skill";


@import "fonts";


$brownC: #725F5B;
$whiteC: #FFFFFF;
$blackC: #1E0606;
$transition: 0.4s;

// // scroll 
.scroll-off {
	position: fixed;
	left: 30px;
	top: 30px;
}
.scroll-on {
	position: fixed;
	left: 30px;
	top: 60px;
	pointer-events: none;
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.banner {
  max-width: 100%;
  &__text {
    display: flex;
    
  }
}

.slider {
  &__nav {
    display: flex;
    justify-content: space-beetween;
  }
  &__prev-btn {
    background: img ;
    content: '';
    width: px;
    height: px;
    border: 3px #ffffff,
    // border-radius: 50%;
  }
  &__next-btn {
    background: img;
  }
}

.about-me {
//   background-color: #grey;
 max-width: 100%;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item {
    border: 3px #ffffff
    // padding: 10px;
  }
}


.portfolio {
  background-color: grey;
  max-width: 100%;
}



