@import "_variables.base";
@import "_mixins";

@import "vendor/_normalize";


@import "_utils";
@import "_base";


@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/btn";
@import "_blocks/input-text";
@import "_blocks/skill";
@import "_blocks/banner";
@import "_blocks/slider";
@import "_blocks/signInModal";
@import "_blocks/registerModal";
@import "_blocks/myBlog";


@import "fonts";

$greyColor: #828282;

.scroll-off {
	position: fixed;
	left: 30px;
	top: 30px;
}
.scroll-on {
	position: fixed;
	left: 30px;
	top: 60px;
	pointer-events: none;
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}


.about-me {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 60px 0;
    margin-top: 60px;
  &__header {
    margin-bottom: 51px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 448px;
  }
  &__list-item {
    border: 3px #070707 solid;
    padding: 15px 15px;
    margin-bottom: 40px;
  }
}


.portfolio {
  background-color: #F6F6F6;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.swiper {
  height: 604px;
  width: 1000px;
  margin-bottom: 60px;
  @media (max-width: $media-tablet) {
    max-width: 648px;
    margin: 0 30px;
    }

&__wrapper {
  display: flex;
  flex-direction: column;

}

  &__text {

    z-index: 4;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    background-color: rgba(7, 7, 7, 0.85);
    padding: 30px;
    top: 85%;
  }

}

.swiper-button-prev {
    color: #070707;
    background-color: transparent;
    width: 25px;
    height: 70px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    position: absolute;
}
.swiper-button-next {
    color: #070707;
    background-color: transparent;
    width: 25px;
    height: 70px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    position: absolute;

}

.profile {
&__wrapper {
  display: flex;
}
&__text {
  font-weight: 700;
}
}
