<form class="form__form" name="editingPassword" action="#" method="post">
    <label class="form__label" for="password">Old password<span class="form__star">*</span></label>
    <input class="form__input" type="password" id="password" aria-label="enter password" name="password">
    <label class="form__label" for="password">New password<span class="form__star">*</span></label>
    <input class="form__input" type="password" id="password" aria-label="enter password" name="password">
    <label class="form__label" for="password">Repeat password<span class="form__star">*</span></label>
    <input class="form__input" type="password" id="password" aria-label="enter password" name="password">
<button class="form__btn btn" type="submit">Change password</button>
</form>