<footer class="footer">
        <h2 class="footer__header">Contacts</h2>
        <p class="footer__text">Want to know more or just chat? 
            You are welcome!</p>
        <button class="footer__btn send--js">Send message</button>
        <ul class="footer__socials-list">
            <li class="footer__social-item">
                <a class="footer__btn-insta btn" href="#">Instagram</a>
            </li>
            <li class="footer__social-item">
                <a class="footer__btn-vk btn" href="https://vk.com/id278983480">Vk</a>
            </li>
            <li class="footer__social-item">
                <a class="footer__btn-telegram btn" href="https://t.me/Ann_sergev">Telegram</a>
            </li>
            <li class="footer__social-item">
                <a class="footer__btn-mail btn" href="saushkinanna@gmail.com">Mail</a>
            </li>
            <li class="footer__social-item">
                <a class="footer__btn-github btn" href="https://github.com/AnnaSaushkina?tab=repositories">GitHub</a>
            </li>
            <li class="footer__social-item"> 
                <a class="footer__btn-phone btn" href="+7 927 777 38 39">Phone</a>
            </li>
        </ul>
        <p class="footer__meta">Design by <a class="footer__link" href="#">DL Academy</a> Program code from Anna</p>
</footer>