<form class="register__form" name="register" action="#" method="post" novalidate>
    <div class="register__email-wrapper">
        <label class="form__label" for="email">Email<span class="form__star">*</span></label>
        <input class="form__input" type="email" id="email" aria-label="enter email" placeholder="почта@gmail.com" type="email" name="email">
    </div>
    <div class="register__wrapper">
        <div class="register__inner-wrapper">
            <label class="form__label" for="name">Name<span class="form__star">*</span></label>
            <input class="form__input" type="name" id="name" aria-label="enter name" name="name">
        </div>
        <div class="register__inner-wrapper">
            <label class="form__label" for="surname">Surname<span class="form__star">*</span></label>
            <input class="form__input" type="surname" id="surname" aria-label="enter surname" name="surname">
        </div>
    </div>
    <div class="register__wrapper">
        <div class="register__inner-wrapper">
            <label class="form__label" for="password">Password<span class="form__star">*</span></label>
            <input class="form__input" type="password" id="password" aria-label="enter password" name="password">
        </div>
        <div class="register__inner-wrapper">
            <label class="form__label" for="repeat password">Repeat password<span class="form__star">*</span></label>
            <input class="form__input" type="password" id="repeat password" aria-label="repeat password" name="repeat password">
        </div>
    </div>
    <div class="register__wrapper">
        <div class="register__inner-wrapper">
            <label class="form__label" for="location">Location<span class="form__star">*</span></label>
            <input class="form__input" type="text" id="location" aria-label="enter location" name="location">
        </div>
        <div class="register__inner-wrapper">
            <label class="form__label" for="age">Age<span class="form__star">*</span></label>
            <input class="form__input" type="text" id="age" aria-label="enter age" name="age">
        </div>
    </div>
    <ul class="register__checkbox ">
        <li class="register__checking">       
            <input
            class="register__checkbox-input" type="checkbox" name="processing of personal data" id="checkbox" value="agree" onchange="document.getElementById('submit').disabled = !this.checked;" aria-label="agree with processing personal data">
            <label class="register__checkbox-label check-text" for="checkbox">
                Clicking on the button, you consent to the processing of your personal data.
            </label>
        </li>
        <li>
            <button class="link-btn btn" type="submit" aria-label="submit data" id="submit" >Sign up</button>
        </li>
    </ul>
</form>