<form class="form__form" name="signIn" action="#" method="post" novalidate>
        <label class="form__label" for="email">Email<span class="form__star">*</span></label>
        <input class="form__input" type="email" id="email" aria-label="enter email" placeholder="почта@gmail.com" type="email" name="email">
        <label class="form__label" for="password">Password<span class="form__star">*</span></label>
        <input class="form__input" type="password" id="password" aria-label="enter password" name="password">
    <button class="form__btn btn" type="submit">Log in</button>
</form>